body {
  margin: 0;
  padding: 0;
}
h1, h2, a, p{font-family: 'Inconsolata', monospace;
  font-family: 'PT Sans Narrow', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
nav ul li a:hover,
.active {
  background-color: #f0f0f4;
  color: #000000;
  border-radius: 4px;
  display: block;
  width: 63px;
  height: 21px;
  text-align: center;
}

.logo img {
  height: 80px;
  border-radius: 40px 0 40px 0;
  box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.5);
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #333;
}

.social-media img {
  height: 30px;
  width: 30PX;
}

/* Banner */
.banner img[data-src]{
  filter: blur(0.3em);
  justify-content: center;
  width: 100%;
}
.banner img{            
  filter: blur(0.0em);
  transition: filter .4s;  
  justify-content: center;
  width: 100%;
}
.banner {
  position: relative;
}

.banner img {
  width: 100%;
  height: 500px;
}

h1{
  text-align: center;
}
#hamburgerBtn {
  display: none;
}
button {
  background-color: #505050;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  top: 70px;
}

button:hover {
  background-color: #1e1a1a;;
}
/* Grid */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 40px auto;
  max-width: 960px;
  text-align: center;
}

.grid-item, .grid-item1, .grid-item2 {
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2, p {
  margin: 0;
}
.quote {
  width: 300px;
  margin: 16px;
  padding: 16px;
  background-color: #bedbed;
  color: #777777;
  }

/* weather */
.weather-card h1 {
margin-bottom: 10px;
}

.weather-card img{
  margin-top: -50px;
}
.weather-card .weather-summary p {
margin: 10px 0;
}

.weather-card .forecast {
margin-top: -50px;
}

.weather-card .forecast h2 {
margin-bottom: 10px;
}

.weather-card .forecast div {
display: inline-block;
margin-right: 10px;
text-align: center;
vertical-align: top;
width: 100px;
}

.weather-card .forecast div p {
margin: 5px 0;
}

/* Footer *//* Footer */
footer img{
  margin: 10px;

  border-radius: 10px;
  width: 100px;
}
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  background-color: #2a3a39;
}
footer p{
  width: 100%;
  text-align: center;
  display: block;
  justify-content: flex-end;
  color: rgb(255, 255, 255);
}

.footer-content{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  width: 100%;
  justify-items: center;
  
}
.footer-base{
  text-align: center;
  color: #1e1a1a;
  background-color: #ffffff;
  width: 100%;
}
.footer-base p{
  color: #1e1a1a;
}
.footer-contact{
  text-align: center;
}
footer hr{
  background-color: #0800f9;    
  border: none;        
}
.footer-map {
  font-size: 60px;
  color: rgb(0, 13, 255);
  justify-self: center;
  
}
footer p, h4, a{
  color: #ffffff;
}
  
  footer h4, p{
      margin: 5px;
  }