/* Medium screens */
@media screen and (min-width: 768px) and (max-width: 991px) {
    /* Header */
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 80px;
      padding: 0 20px;
    }
    
    .logo {
      width: 150px;
    }
    
    .nav {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
    }
    #hamburgerBtn {
      display: none;
    }
    .nav ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;
    }
    
    .nav li {
      margin: 0 10px;
    }
    
    .nav a {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      letter-spacing: 1px;
      padding: 10px;
    }
    
    .nav a:hover {
      color: #f1c40f;
    }
    
    .social {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex: 1;
    }
    
    .social ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;
    }
    
    .social li {
      margin: 0 10px;
    }
    
    .social a {
      color: #fff;
      text-decoration: none;
      font-size: 24px;
      transition: all 0.3s ease;
    }
    
    .social a:hover {
      transform: scale(1.2);
    }
    
    /* Banner */
    .banner {
      background-image: url('banner.jpg');
      background-position: center;
      background-size: cover;
      position: relative;
    }
    .banner button {
      width: fit-content;
      margin: 0 auto;
      background-color: #565656;
      font-size: 30px;
      margin-top: 14px;
  }
    button {
      background-color: #505050;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      top: 70px;
    }
    #calltoaction {
      position: absolute;
      display: flex;
      flex-direction: column;
      background-color: #ff912a;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      padding: 14px;
      text-align: center;
      border-radius: 80px;
  }
    
    /* Grid */
    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
      padding: 20px;
    }
    
    .grid-item {
      background-color: #fff;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      text-align: center;
    }
    
    .grid-item h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }
    
    .grid-item p {
      font-size: 16px;
      margin-bottom: 20px;
    }
    /* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
}