
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  main {
    height: auto;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #hamburgerBtn{
    display: none;}
  
  /* Small View (up to 680px) */
  @media only screen and (max-width: 680px) {
    header {
      font-size: 16px;
      padding: 10px;
    }
    
    main {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
    
    section {
      margin: 10px;
      max-width: 100%;
    }
    
    h2 {
      font-size: 20px;
    }
    
    input,
    textarea {
      width: 100%;
      margin-bottom: 10px;
    }
    
    button[type="submit"] {
      font-size: 14px;
    }

 
    
    #hamburgerBtn  {
      color: black !important;
      position: inherit;
      display: block;
    }
    #hamburgerBtn:hover  {
      color: rgb(255, 255, 255) !important;
    }
    
    nav ul {display: none;}
    nav ul.open {display: block;}
    
    #hamburgerBtn span:nth-child(1) {display: block;}
    #hamburgerBtn span:nth-child(2) {display: none;}
    
    #hamburgerBtn.open span:nth-child(1) {display: none;}
    #hamburgerBtn.open span:nth-child(2) {display: block;}

  }