/* Common CSS for all screens */
h1, h2, a, p{font-family: 'Inconsolata', monospace;
  font-family: 'PT Sans Narrow', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;}

body {
    margin: 0;
    padding: 0;
  }
  
  /* Header */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .hamburger-menu {
    display: block;
    cursor: pointer;
  }
  .hamburger-menu .bar {
    display: block;
    height: 2px;
    width: 20px;
    margin: 5px;
    background-color: black;
    transition: 0.4s;
  }
  .hamburger-menu .bar:first-child {
    transform: rotate(-45deg) translate(-8px, 4px);
  }
  .hamburger-menu .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger-menu .bar:last-child {
    transform: rotate(45deg) translate(-8px, -4px);
  }
  nav ul li a:hover,
  .active {
    background-color: #f0f0f4;
    color: #000000;
    border-radius: 4px;
    display: block;
    width: 63px;
    height: 21px;
    text-align: center;
  }
  
  .logo img {
    height: 80px;
    border-radius: 40px 0 40px 0;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.5);
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
  }
  
  .social-media img {
    height: 30px;
    width: 30PX;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  .content {
max-width: 800px;
margin: 0 auto;
padding: 20px;
}

.image {
margin: 20px;
}

/* Footer *//* Footer */
footer img{
  margin: 10px;

  border-radius: 10px;
  width: 100px;
}
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  background-color: #2a3a39;
}
footer p{
  width: 100%;
  text-align: center;
  display: block;
  justify-content: flex-end;
  color: rgb(255, 255, 255);
}

.footer-content{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  width: 100%;
  justify-items: center;
  
}
.footer-base{
  text-align: center;
  color: #1e1a1a;
  background-color: #ffffff;
  width: 100%;
}
.footer-base p{
  color: #1e1a1a;
}
.footer-contact{
  text-align: center;
}
footer hr{
  background-color: #0800f9;    
  border: none;        
}
.footer-map {
  font-size: 60px;
  color: rgb(0, 13, 255);
  justify-self: center;
  
}
footer p, h4, a{
  color: #ffffff;
}
  
  footer h4, p{
      margin: 5px;
  }
/* Small screen CSS */
@media only screen and (max-width: 680px) {
/* Add styles for small screen */
body {
  font-size: 14px;
}
.image {
  width: 80%;
  margin: auto;
}
.nav {
  display: none;
}

#hamburgerBtn  {
  color: black !important;
  position: inherit;
  display: block;
}
#hamburgerBtn:hover  {
  color: rgb(255, 255, 255) !important;
}


nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

}

/* Medium screen CSS */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
/* Add styles for medium screen */
body {
  font-size: 16px;
}
.image {
  width: 40%;
  float: left;
  margin: 20px;
}
#hamburgerBtn{
  display: none;
}
}

/* Large screen CSS */
@media only screen and (min-width: 1025px) {
/* Add styles for large screen */
body {
  font-size: 18px;
}
.image {
    width: 30%;
    float: left;
    margin: 20px;
    margin-left: 80px;
}
#hamburgerBtn{
  display: none;
}
}